<h2 align="center">Signup for Housing Agents</h2>

<%= form_for(@usar) do |f| %>
  <% if @usar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usar.errors.count, "error") %> prohibited this usar from being saved:</h2>

      <ul>
      <% @usar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :department %><br>
    <%= f.text_field :department %>
  </div>
  <div class="field">
    <%= f.label :role %><br>
    <%= f.text_field :role %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div><br>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
